nav {
    background: #fff;
}

.nav-top-container {
    @include size-WH(100%, auto);
    border-bottom: 1px solid lightgray;

    .nav-top {
        height: 30px;
        text-transform: uppercase;
        font-size: 0.69rem;
        color: $primary-color;
        letter-spacing: 1px;
        padding: 7px;

        & .container-fluid .row p {
            margin: 0;
        }

        span {
            .email {
                color: $third-color;
                margin-right: 0.6em;
            }

            .phone {
                color: $primary-color;
            }
        }
    }
}

.nav-container {
    @include box-config(display,flex,justify-content,space-between);
    @include text-config(align-items,center,paddint-top,20px);

    & .header-hamburger {
        cursor: pointer;
        padding: 1rem 0rem;
        width: 2rem;
        @include transitions-with-effect(all, .5s, ease);

        & .hamburger-line {
            @include size-WH(20px, 1px);
            @include position-XY(relative,background,transparent);
            @include transitions-with-effect(all, .5s, ease);

            & .middle-line {
                @include size-WH(20px, 1px);
                @include box-display(inline-block,background,$third-color);
                @include transitions-with-effect(all, .5s, ease);
                @include position-XY(absolute,left,0);
            }

            &::before {
                @include size-WH(20px, 1px);
                @include position-XY(absolute,bottom,8px,left,7px);
                @include box-display(inline-block,background,$third-color,content,'');
                @include transitions-with-effect(all, .5s, ease);
            }

            &::after {
                @include size-WH(20px, 1px);
                @include position-XY(absolute,top,7px,left,7px);
                @include box-display(inline-block,background,$third-color,content,'');
                @include transitions-with-effect(all, .5s, ease);
            }
        }

        &:hover {
            & .hamburger-line {
                & .middle-line {
                    left: 7px;
                    @include transitions-with-effect(all, .5s, ease);
                }
            }

            & .hamburger-line::after, & .hamburger-line::before {
                @include position-XY(absolute,left,0);
                @include transitions-with-effect(all, .5s, ease);
            }
        }
    }

    & .nav-container-logo {
        @include position-XY(relative,left,-7px);
    }

    & .nav-container-menu {
        @include d-flex(justify-content,center,list-style,none);

        & li {
            padding: 0 1.1rem;
            font-size: 0.98rem;

            & a {
                text-decoration: none;
                color: $third-color;
            }

            &::after {
                @include border-bottom(0.3rem);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    & .nav-container-icons {
        i {
            @include transitions-with-effect(all, .5s, ease);
            margin: 0 0.4rem;
            font-size: 1.3rem;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
        
        & a {
            width: 25px;
            margin-bottom: 7px;
        }
    }
}

.nav-bottom-container {
    @include box-config(display,flex,justify-content,flex-end);
    padding-top: 1rem;

    & .col-lg-6 {
        position: inherit;

        & .nav-bottom-right {
            @include d-flex(justify-content,flex-end,list-style,none);
            width: 100%;
            margin: 0;

            & > li {
                margin-left: 1rem;
                padding-bottom: 0.9rem;
                margin-top: 0.5em;

                & .about {
                    padding-right: 3rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: $third-color;
                    text-decoration: none;
                }

                & .search {
                    padding:1rem;

                    i{
                        @include size-WH(27px, 27px);
                        font-size: 1.5rem;
                        cursor: pointer;
                        @include transitions-with-effect(all, .5s, ease);
                        animation: spin-out 0.5s forwards;
                    }

                    &:hover {
                        color: $primary-color;

                        i {
                            animation: spin-in 0.5s forwards;
                            color: $primary-color;
                        }
                    }
                }


                &:hover {
                    z-index: 1;

                    & .list-box-item {
                        @include transitions-with-effect(all, .3s, ease-in);
                        z-index: 1;
                        border-top: 10px solid #fbfbfb;
                        box-shadow: 4px 53px 78px -41px rgba(120,120,120,1);
                        max-height: 100px;

                        & .wrapper .list-items {
                            -webkit-animation: fade-in 1s forwards;
                        }
                    }
                }

                & .list-box-item {
                    @include position-XY(absolute,left,0,top,10.2rem);
                    @include transitions-with-effect(all, .5s, ease-in-out);
                    border-top: 10px solid transparent;
                    max-height: 0px;
                    background: #f7f7f7;
                    width: 100%;
                    overflow: hidden;
                    z-index: -1;
                    transition-delay: .2s;

                    & .wrapper .list-items {
                        @include size-WH(100%, 95px);
                        @include d-flex(justify-content,flex-end,list-style,none);
                        padding: 0 15px;
                        position: relative;
                        -webkit-animation: fade-out 0.3s forwards;

                        & li {
                            @include d-flex(align-items,center,padding,0 20px);
                            font-size: 0.8em;
                            height: 100%;

                            & a {
                                text-transform: none;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }

                        & form {
                            position: relative;
                            width: 100%;

                            & .list-item-text {
                                @include position-XY(absolute,left,0.5rem,bottom,1.5rem);
                                border: none;
                                border-bottom: 1px solid;
                                background: transparent;
                                width: 93%;
                                color: $third-color;
                                font-size: 1.2rem;
                                text-transform: initial;
                                font-weight: 500;
                            }

                            & .list-item-text-color::placeholder {
                                color: #000;
                                opacity: 1;
                            }

                            & .list-item-submit {
                                @include position-XY(absolute,right,1rem,bottom,1rem);
                                border: none;
                                background: transparent;
                                font-weight: 500;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    & .col-lg-6 {
        & .nav-bottom-left {
            @include transitions-with-effect(all, .5s, ease);
            @include d-flex(list-style,none,margin-bottom,-5px);

            & > li {
                list-style: none;
                padding-right: 2.2rem;
                padding-bottom: 1em;
                margin-top: 1em;
                font-size: 0.8rem;
                font-weight: 500;

                & a {
                    color: #000;
                }

                &::after {
                    @include border-bottom(1.1rem);
                    z-index: 1;
                }

                &:hover::after {
                    width: 100%;
                }

                &:hover .list-box-item {
                    @include transitions-with-effect(max-height,0.5s,ease-in);
                    @include box-shadow(0 25px 30px 0 rgba(0,0,0,.15));
                    max-height: 32em;
                    border-top: 9px solid #f7f7f7;
                    animation: index-transform-in .2s forwards;

                    & .list-box-item-wrraper{
                        @include transitions-with-effect(all, .5s, ease);
                        animation: fade-in 0.7s forwards;
                    }
                }

                & .list-box-item {
                    @include position-XY(absolute,top,9.8rem,left,0);
                    @include transitions-with-effect(all, .5s, ease);
                    right: 0;
                    border-top: 5px solid transparent;
                    max-height: 0;
                    background: #fff;
                    overflow: hidden;
                    animation: index-transform-out 1.2s forwards;

                    & .list-box-item-wrraper {
                        @include transitions-with-effect(all, .5s, ease);
                        max-width:105em;
                        height:31em;
                        @include d-flex(margin,0 auto,padding,3rem 2rem);
                        animation: fade-out 0.3s forwards;

                        & .list-items {
                            @include d-flex(flex-direction,column,margin-right,2em);
                            margin-left: -10px;
                            text-transform: none;
                            list-style: none;
                            font-size: 0.9em;

                            li {
                                padding: 0 1rem 0 0;
                                margin: 5px;
                                position: relative;
                                font-size: .875rem;

                                & img {
                                    @include size-WH(198px,38px);
                                }

                                & .hover-image-effect {
                                    @include position-XY(absolute,top,0,left,0);
                                    @include size-WH(198px,38px);
                                    @include transitions-with-effect(all, .5s, ease);
                                    display: inline-block;
                                    background: transparent;
                                    cursor: pointer;
                                    z-index: 3;
                                }

                                &:hover{
                                    & a {
                                        background: #ffffff70;
                                    }
                                }
                            }
                        }

                        & .list-items-special {
                            & li {
                                & a {
                                    color: $primary-color;
                                    text-transform: uppercase;
                                    font-size: 0.9em;
                                }
                            }
                        }

                        & .list-items-image {
                            @include position-XY(absolute,right,5em,margin-right,0);
                            width: 39%;
                            overflow: hidden;

                            & .hover-image-effect {
                                & img {
                                    width: 100%;
                                }

                                &::after {
                                    @include size-WH(100%,120%);
                                    @include position-XY(absolute,top,-10%,left,0);
                                    @include transform(skewY(-4deg) translate3d(0,-100%,0));
                                    @include transitions-with-effect(all,.4s,cubic-bezier(.785,.135,.15,.86));
                                    background: rgba(30,30,30,.35);
                                    content: '';
                                }
                            }

                            &:hover {
                                & .hover-image-effect::after {
                                    @include transform(skewY(5deg) translate3d(0,0,0));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & .container-fluid .row .col-12 .carousel .carousel-inner {
        text-align: center;
        color: $primary-color;
        font-size: 0.6rem;
        cursor: grab;
        letter-spacing: 1px;
        padding: 0.5rem;
        user-select: none;

        & div {
            & p {
                margin: 0;
            }

            & span a {
                text-decoration: none;

                &:nth-child(1) {
                    color: $third-color;

                    &:hover {
                        color: lighten($third-color, 15%);
                    }
                }

                &:nth-child(2) {
                    color: $primary-color;

                    &:hover {
                        color: lighten($primary-color, 15%);
                    }
                }
            }
        }
    }
}

// sidebar-main-menu start
@import '../sidebar-main-menu/sidebar-main-menu';
// sidebar-main-menu end

// sidebar-main-right start
@import '../sidebar-main-right/sidebar-main-right';
// sidebar-main-right end

// breakpoints start
@import 'media-breakpoint-down-md';
@import 'media-breakpoint-down-sm';
// breakpoints end

// key-frames start
@import '../key-frames/nav.scss';
// key-frames end
