@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans.eot');
    font-weight: 400;
    font-style: normal;
    src: local('GillSans'),
    url('webfonts/gillsans/GillSans.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans.woff') format('woff'),
    url('webfonts/gillsans/GillSans.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans.svg') format('svg');
}

@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans-Italic.eot');
    font-weight: 400;
    font-style: italic;
    src: local('GillSans-Italic'),
    url('webfonts/gillsans/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans-Italic.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans-Italic.woff') format('woff'),
    url('webfonts/gillsans/GillSans-Italic.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans-Italic.svg') format('svg');
}

@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans-Light.eot');
    font-weight: 300;
    font-style: normal;
    src: local('GillSans-Light'),
    url('webfonts/gillsans/GillSans-Light.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans-Light.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans-Light.woff') format('woff'),
    url('webfonts/gillsans/GillSans-Light.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans-Light.svg') format('svg');
}

@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans-SemiBold.eot');
    font-weight: 500;
    font-style: normal;
    src: local('GillSans-SemiBold'),
    url('webfonts/gillsans/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans-SemiBold.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans-SemiBold.woff') format('woff'),
    url('webfonts/gillsans/GillSans-SemiBold.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans-SemiBold.svg') format('svg');
}

@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans-Bold.eot');
    font-weight: 700;
    font-style: normal;
    src: local('GillSans-Bold'),
    url('webfonts/gillsans/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans-Bold.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans-Bold.woff') format('woff'),
    url('webfonts/gillsans/GillSans-Bold.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans-Bold.svg') format('svg');
}

@font-face {
    font-family: 'GillSans';
    font-display: swap;
    src: url('webfonts/gillsans/GillSans-UltraBold.eot');
    font-weight: 800;
    font-style: normal;
    src: local('GillSans-UltraBold'),
    url('webfonts/gillsans/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('webfonts/gillsans/GillSans-UltraBold.ttf') format('truetype'),
    url('webfonts/gillsans/GillSans-UltraBold.woff') format('woff'),
    url('webfonts/gillsans/GillSans-UltraBold.woff2') format('woff2'),
    url('webfonts/gillsans/GillSans-UltraBold.svg') format('svg');
}
